*{
    margin: 0;
    padding: 0;
}
.main-bg{
    background: url(../../assets/images/9999.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.navbar-default{
    background: transparent;
    color: #000;
}

.navbar > a,.nav-item > a {
    color: #fff !important;
}

.navbar-reduce .nav-item > a, .navbar-reduce > a {
    color: #000 !important;
}

.navbar-reduce {
    background: #ff0;
}